<div class="container">
  <h1>Registration (Reactive)</h1>
  <form (ngSubmit)="handleSubmit()" [formGroup]="formGroup">
    <div class="form-group">
      <label for="gender">Gender</label>
      <select formControlName="gender" class="form-control" id="gender" name="gender">
        <option *ngFor="let gender of userGenders" [value]="gender">{{gender}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="firstName" type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input formControlName="lastName" type="email" class="form-control" id="lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input formControlName="city" type="text" class="form-control" id="city" name="city">
    </div>
    <button [disabled]="!formGroup.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
  <p>{{dataString}}</p>
  <p>{{allUsers}}</p>
  <button [routerLink]="['/forms/template']" class="btn btn-success">Go to template</button>
</div>
