<p>
  test component 2
</p>
<p>{{counterValue}}</p>
<p>{{data}}</p>
<button (click)="handleClick()" class="btn btn-warning">Increase</button>
<button [routerLink]="['/dependency/test']" class="btn btn-success">
  go to test 1
</button>
