<div class="container">
  <h1>Registration (TD)</h1>
  <form (ngSubmit)="handleSubmit()" #registrationForm="ngForm">
    <div class="form-group">
      <label for="gender">Gender</label>
      <select [(ngModel)]="user.gender" class="form-control" id="gender" name="gender" required>
        <option *ngFor="let gender of userGenders" [value]="gender">{{gender}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="user.firstName" type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input [(ngModel)]="user.lastName" type="text" class="form-control" id="lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="user.city" type="text" class="form-control" id="city" name="city">
    </div>
    <button [disabled]="!registrationForm.form.valid" type="submit" class="btn btn-success">Submit</button>
  </form>
  <p>{{dataString}}</p>
  <p>{{allUsers}}</p>
  <button [routerLink]="['/forms/reactive']" type="submit" class="btn btn-success">Go to reactive</button>
</div>
