<p>
  test component 1
</p>
<p>{{counterValue}}</p>
<p>{{data}}</p>
<button (click)="handleClick()" class="btn btn-warning">Increase</button>
<button [routerLink]="['/dependency/test2']" class="btn btn-success">
  go to test 2
</button>
